.NavBar {
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(6, 73, 73);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 10px black;
    li {
      padding: 30px;
      a {
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        font-size: 30px;
        line-height: 20px;
        font-family: "Dancing Script", cursive;
        font-style: normal;
        font-weight: 700;
        color: antiquewhite;
      }
      a:hover {
        transition: 2s;
        transform: scale(1.2);
        color: rgb(238, 205, 161);
      }
    }
  }
}
