/* START WELCOME */
.Main,
.CreateAccountMain,
.ForgotAccountMain {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/public/Foto/BackMain.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.MainContent,
.CreateAccountMainContent,
.ForgotAccountContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding: 10px;
  background: white;
}

.MainContentH1,
.MainContentH2,
.CreateAccountMainContentH1,
.CreateAccountMainContentH2,
.ForgotAccountContentP,
.ForgotAccountContentPP {
  font-size: 20px;
  line-height: 40px;
  font-family: "Dancing Script", cursive;
  font-style: normal;
  font-weight: 700;
}

.MainContentH1,
.CreateAccountMainContentH1 {
  font-size: 30px;
}

.MainContentInput,
.CreateAccountMainContentInput {
  margin-bottom: 15px;
  width: 332px;
  border-style: solid;
  padding: 0px 5px;
  font-size: 18px;
  line-height: 36px;
  font-family: "Dancing Script", cursive;
  font-style: normal;
  font-weight: 700;
}

.MainContentButton {
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  width: 332px;
  background-color: #1877f2;
  margin-bottom: 10px;
  cursor: pointer;
  color: antiquewhite;
  border-style: none;
  font-family: "Dancing Script", cursive;
  font-style: normal;
  font-weight: 700;
}

.MainContentButton:hover {
  font-size: 25px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.ForgotAccount {
  color: #1877f2;
  font-size: 17px;
  font-family: "Dancing Script", cursive;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 10px;
}

.ForgotAccount:hover {
  font-size: 25px;
}

.MainSpan {
  color: #96999e;
  position: relative;
  margin-bottom: 10px;
  font-family: "Dancing Script", cursive;
  font-style: normal;
  font-weight: 700;
}

.MainSpan::after {
  content: "";
  height: 2px;
  position: absolute;
  top: 58%;
  background-color: #96999e;
  width: 152px;
  left: 120%;
}

.MainSpan::before {
  content: "";
  height: 2px;
  position: absolute;
  top: 58%;
  background-color: #96999e;
  width: 152px;
  right: 120%;
}
.CreateANewAccount {
  text-align: center;
  background-color: #42b72a;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  width: 332px;
  margin-bottom: 10px;
  cursor: pointer;
  color: antiquewhite;
  border-style: none;
  font-family: "Dancing Script", cursive;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.CreateANewAccount:hover {
  font-size: 25px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.MainContentForm {
  display: flex;
  flex-direction: column;
  background: white;
}
/* Finish Welcome */

/* START Create Account */

.CreateAccountMainContentSpan {
  content: "";
  height: 2px;
  background-color: #96999e;
  width: 100%;
  margin-bottom: 30px;
}

.CreateAccountMainContentSelect,
.CreateAccountMainContentSelectLast {
  margin-right: 30px;
  margin-bottom: 15px;
  width: 110px;
  border-style: solid;
  padding: 0px 5px;
  font-size: 18px;
  line-height: 36px;
  font-family: "Dancing Script", cursive;
  font-style: normal;
  font-weight: 700;
}

.CreateAccountMainContentSelectLast {
  margin-right: 0px;
}

.CreateAccountMainContent {
  background: wheat;
}

.CreateAccountMainContentForm {
  text-align: center;
}

.CreateAccountMainContentFormDivImg,
.CreateAccountMainContentFormDivImgg,
.MainContentFormI {
  background-image: url(../public/Foto/password.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 25%;
  right: 53%;
}

.MainContentFormWelcomeDiv {
  position: relative;
}

.MainContentFormI {
  right: 3%;
}
.CreateAccountMainContentFormDivImgg {
  right: 3%;
}

.CreateAccountMainContentFormDiv {
  display: flex;
  position: relative;
  justify-content: center;
}

/* FINISH Create Account */

/* START ForgotAccount */

.ForgotAccountContentPP {
  margin-bottom: 20px;
}

.ForgotAccountContentButton {
  background-color: #42b72a;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  width: 128px;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  color: antiquewhite;
  border-style: none;
  font-family: "Dancing Script", cursive;
  font-style: normal;
}

.ForgotAccountMainLink {
  margin-right: 20px;
  background-color: #42b72a;
  border-radius: 6px;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  color: antiquewhite;
  font-family: "Dancing Script", cursive;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.ForgotAccountMainLink,
.ForgotAccountContentButton:hover {
  font-size: 25px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}
/* FINISH ForgotAccount */

/* START NAVBAR */
