.Main {
  height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/public/Foto/BackMain.png);
}

.MainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding: 10px;
  background: white;
}

.MainContent > h1,
h2 {
  font-size: 20px;
  line-height: 40px;
  font-family: "Dancing Script", cursive;
  font-style: normal;
  font-weight: 700;
}

.MainContent > h1 {
  font-size: 30px;
}

.MainContent input {
  margin-bottom: 15px;
  width: 332px;
  padding: 0px 5px;
  font-size: 18px;
  line-height: 36px;
}

.MainContent button {
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  width: 332px;
  background-color: #1877f2;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 700;
  color: antiquewhite;
  border-style: none;
}

.MainContent button:hover {
  font-size: 30px;
}

.MainContent a {
  color: #1877f2;
  font-size: 17px;
  font-weight: 800;
  text-decoration: none;
  margin-bottom: 10px;
}

.MainContent a:hover {
  font-size: 25px;
}

.MainSpan {
  color: #96999e;
  position: relative;
  margin-bottom: 10px;
}

.MainSpan::after {
  content: "";
  height: 2px;
  position: absolute;
  top: 58%;
  background-color: #96999e;
  width: 152px;
  left: 120%;
}

.MainSpan::before {
  content: "";
  height: 2px;
  position: absolute;
  top: 58%;
  background-color: #96999e;
  width: 152px;
  right: 120%;
}

.MainContent button:last-child {
  background-color: #42b72a;
}
